.grid-container {
  display: grid;
  grid-template-columns: 10fr;
  gap: 5px;
}

.profile {
  grid-template-columns: 7fr 3fr;
}

.equipment {
  grid-template-columns: 3fr 7fr;
}

.grid-container > div {
  background-color:rgb(245,245,245);
  border: 1px solid rgb(210,210,210);
  font-size: 18;
  margin-bottom: 5px;
}

.grid-container > div > a{
  height: 100%;
  width: 100%;
  display:block;
  text-decoration:none;
}

.item1, .item2{
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}

.item1 a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.subheading {
  font-size: 18;
  font-weight: 400;
}

.topic_content {
  margin: 10px;
}
.item_image {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  border: 1px solid rgb(210,210,210);
}

.image {
  padding: 0px;
  border-radius: 3px;
}
