.grid-container {
  display: grid;
  grid-template-columns: 10fr;
  gap: 5px;
}

.grid-container > div {
  background-color:rgb(245,245,245);
  border: 1px solid rgb(210,210,210);
  font-size: 18;
  margin-bottom: 5px;
}

.grid-container > div:hover{
  background-color:rgb(230,230,230);
}

.grid-container > div > a{
  height: 100%;
  width: 100%;
  display:block;
  text-decoration:none;
  color:black
  /* can change the color of the text in the box:  color:deepskyblue;   */
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;                  
}

.item1 a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.subheading {
  font-size: 18;
  font-weight: 400;   /* normal  */
  color:#4A9DFF;
}

.topic_header {
  margin: 10px;
  text-decoration: underline;
}

.topic_footer {
  margin: 10px;
  font-size: 16;
}
